* {
    margin: 0;
    padding: 0;
}


/* #index {
    background-image: url(baggrund.jpg);
    background-size: 100%;
    margin-top: -70px;
    padding-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
} */

#index {
    background-image: url(billeder/baggrund.png);
    background-size: 100%;
    margin-top: -70px;
    padding-top: 70px;
    height: 860px;
}

body {
    margin: auto;
    padding: 0;
}

#doku {
    background-color: white;
}

img {
    width: 100%;
}

#content_box {
    max-width: 1024px;
    margin top: 40px;
    margin: 0 auto;
}

a {
    color: #a19b9b;
    text-decoration: none;
}


/* SKRIFT TYPE & FARVE */

@font-face {
    font-family: 'cf_chevalier_de_lorimierRg';
    src: url('webfontkit-20171213-075420/cfchevalierdelorimier-regul-webfont.woff2') format('woff2'), url('webfontkit-20171213-075420/cfchevalierdelorimier-regul-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #bfac9c;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

h2 {
    color: #a19b9b;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
}

h3 {
    color: white;
    font-family: 'cf_chevalier_de_lorimierRg', sans-serif;
    font-size: 1em;
}

h4 {
    color: #a19b9b;
    font-family: 'Lato, sans-serif';
    font-size: 1.1em;
}

p {
    color: #a19b9b;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

li {
    color: #a19b9b;
    font-family: 'Lato', sans-serif;
    font-size: 0.70em;
}

a {
    color: #a19b9b;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
}

B {
    color: #a19b9b;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}


/******** FLEXBOX START ********/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 30px;
}

.column {
    flex-basis: 300px;
    flex-grow: 1;
}

.column_content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.color {
    flex-basis: 300px;
    flex-grow: 1;
}

.color_content {
    display: flex;
    flex-wrap: wrap;
}

.content {
    flex-basis: 300px;
    flex-grow: 2;
}


/* *** NAV START *** */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    background-color: rgba(255, 255, 255, 0);
}

nav a {
    text-decoration: none;
    color: white;
    display: grid;
    background-color: rgba(255, 255, 255, 0);
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px;
}


/* *** NAV SLUT *** */


/*---- DROP DOWN MENU ---*/

header {
    position: fixed;
    width: 100%;
    background-image: url(billeder/baggrund-1.png);
    background-size: 100%;
    height: 55px;
    margin-top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 8px 0px 8px 20px;
    display: block;
    cursor: pointer;
    background-color: #481c4c;
    min-width: 260px;
}

.container_drop a {
    color: black;
    padding: 0px;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

#ikon img {
    max-width: 50px;
    background-color: rgba(210, 145, 171, 0);
    margin-right: 15px;
    margin-top: 2.5px;
}

#ikon {
    position: absolute;
    right: 0;
    background-color: rgba(210, 145, 171, 0);
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
    background-color: #b8807e;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
}

.dropdown {
    display: none;
    background-color: #481c4c;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    min-width: 160px;
    z-index: 1;
    padding: 10px 40px 0px 10px;
    background-color: #481c4c;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #F7F0E7;
    padding: 5px 0px 0px 10px;
    text-decoration: none;
    display: block;
    font-family: 'Futura';
    letter-spacing: 2px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: #b8807e;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/********** KONTAKT ********/

#kontakt {
    margin-top: 80px;
}

#kontakt .column {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 2px;
    flex-grow: 2;
    margin-left: 15px;
}

#kontakt ul {
    list-style-type: none;
    color: #a19b9b;
}


/* *** KONTAKT *** */

#kontakt img {
    border-radius: 50%;
    max-width: 150px;
}


/******** GRUPPEKONTRAKT *******/

#gruppekontrakt {
    margin-top: 60px;
}

#gruppekontrakt .column {
    text-align: center;
}


/* EXPERIENCE MAP */

#experiencemap .column {
    max-width: 50vw;
    margin: auto;
}


/******* TRELLOBOARD ***********/

#trelloboard .column {
    text-align: center;
}


/********** PERSONA ***********/

#persona {
    margin-top: 60px;
}

#persona img {
    max-width: 30vw;
    margin: auto;
}


/***********IDEER***********/

#ideer {
    margin-top: 60px;
}

#ideer img {
    max-width: 300px;
    margin: 10px 0px 10px 0px;
}

#ideer .bottom {
    align-self: flex-end;
}

#endeligikon img {
    max-width: 20vw;
}


/*************SCRUM*************/

#scrum {
    margin-top: 60px;
}


/* UI */


/* INDEX HTML */

#forside h4 {
    font-size: 5em;
    color: white;
}

#forside p {
    color: white;
}

#forside img {
    margin-top: 110px;
    max-width: 20vw;
}

#forside .column {
    max-width: 400px;
    margin-left: -30px;
}

#links .column1 {
    margin: 30px 70px 0px 0px;
    margin-left: -30px;
}
